.pageContainer {
    display: flex;
    color: #FF6060;
    margin-left: 10px;
}

.equip_ul {
    list-style: none;
}



.linkTag {
    text-decoration: none;
}

.hostPic {
    border-radius: 50%;
}

.headerContainerRental {
    display: flex;
    flex-direction: row;
}

.titleContainer {
    align-items: center;
    width: 80%;
}

.imgContainer {
    display: flex;
}

.imgClass {
    object-fit: cover;
    width: 100%;
}

.hostAndRatingContainer {
    display: flex;
    flex-direction: column;
}

.hostContainer {
    color: #FF6060;
    display: flex;
    flex-direction: row;
}

.hostPicContainer {
    display: flex;
    border-radius: 50%;
}

.ratingContainer {
    display: flex;
    flex-direction: row;
}

.tagContainer {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    background-color: white !important;
}

.tag {
    background-color: #FF6060;
    color: white;
    margin-left: 10px;
    text-decoration: none;
}

.aboutContainerRental {
    display: flex;
    flex-direction: row !important;
    align-items: flex-start;
    justify-content: flex-start;
}

.about2Container {
    display: flex;
    flex-direction: column;
    margin-left: 20px !important;
    width: 50%;
    list-style-type: none;
}

@media all and (max-width: 768px) {
    .aboutContainer {
        display: flex;
        flex-direction: column !important;
    }

    .hostAndRatingContainer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .headerContainerRental {
        display: flex ;
        flex-direction: column !important;
    }
}