 .aboutTitleAbout  {
    width: 100%;
  }

  .banner {
    width: 100%;
}

.aboutContainerAbout {
  color:#FF6060;
  width:80%;
  justify-content: center;
  align-items: center;
  display:flex;
  flex-direction:column !important;
}

.aboutCardAbout  {
  display:flex;
flex-direction:column;
width: 72%;
margin: 10px 0 0 0;
}

@media all and (max-width: 768px) {
  .aboutCard {
  width: 95%;
  margin: 10px 0 0 0;
  }
}