.headerContainer {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FF6060;
}

.navContainer {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkStyle {
  padding-left: 20px;
  color: inherit;
  text-decoration-line: none;
}


@media all and (max-width: 768px) {
  .headerContainer {
    flex-direction: row !important;
    justify-content: space-between !important;
    padding-left: 0px;
  }

  .logo_kasa {
    width: 50%;
  }
  .navContainer {
    padding: 0px;
  }
}