.home .banner {
    width: 100%;
}

.homeContainer {
align-items: center;
width:100%;
}

.card {
  margin-top:50px;
margin-left:50px;
height:300px;
width:300px;
position:relative;
background-color:#FF6060;
border-radius: 10px;
}

.cardTitle {
  position: absolute;
bottom:2%;
left:2%;
color: white;
}
  
  .cardsContainer {
  align-items: center;
  width:80%;
  justify-content:space-around;
  display:flex;
  flex-wrap: wrap;
  @media all and  (max-width:768px)  { 
    display : flex;
  flex-direction: column;
  }
}