.pageContainer {
    display: flex;
    color: #FF6060;
    margin-left: 10px;
    margin-right: 10px;
}

.equip_ul {
    list-style: none;
}



.linkTag {
    text-decoration: none;
}

.headerContainerRental {
    display: flex;
    flex-direction: row;
}

.titleContainer {
    align-items: center;
    width: 80%;
}

.titleContainer .title {
    color: #FF6060;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.titleContainer .title2 {
    color: #FF6060;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.imgContainer {
    display: flex;
}

.imgClass {
    object-fit: cover;
    width: 100%;
}

.hostAndRatingContainer {
    display: flex;
    flex-direction: column;
}

.hostContainer {
    color: #FF6060;
    display: flex;
    flex-direction: row;

}

.hostPicContainer {
    display: flex;
    border-radius: 50%;
    justify-content: center;
}

.hostPic {
    border-radius: 50%;
}

.ratingContainer {
    display: flex;
    flex-direction: row;
}

.tagContainer {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    background-color: white !important;
}

.tag {
    background-color: #FF6060;
    color: white;
    margin-left: 10px;
    text-decoration: none;
}

.aboutContainerRental {
    display: flex;
    flex-direction: row !important;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 10px;
}

.about2ContainerRental {
    display: flex;
    flex-direction: column;
    width: 50%;
    list-style-type: none;
}

.about3ContainerRental {
    display: flex;
    flex-direction: column;
    margin-left: 20px !important;
    width: 50%;
    list-style-type: none;
}


@media all and (max-width: 768px) {
    .aboutContainer {
        display: flex;
        flex-direction: column !important;
    }

    .hostAndRatingContainer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .headerContainerRental {
        display: flex;
        flex-direction: column !important;
    }

    .star {
        width: 25%;
    }

    .hostPicContainer {
        width: 50%;
        height: 50%;
        margin-right: -50px;
    }

    .hostName {
        font-size: 15px;
    }

    .titleContainer .title {
        font-size: 1.5em;
    }

    .titleContainer .title2 {
        font-size: 1em;
    }

    .aboutContainerRental {
        display: flex;
        flex-direction: column !important;
    }

    .about2ContainerRental {
        width: 100%;
    }

    .about3ContainerRental {
        width: 100%;
        margin-left: 0px !important;
    }
}